version: '3.3' # La version de notre Docker compose
services: # Déclaration des services à builddpc
  backend-api:
    build: ./backend-api # Le dossier où se situe notre Dockerfile à build
    networks: # On assigne notre container à un network
      - app-network
    depends_on: # On précise que notre service dépend d'un autre
      - database
  database:
    build: ./database-app
    networks:
      - app-network
  httpd:
    build: ./http-server
    ports: # La conversion de port 
      - "80:80"
    networks:
      - app-network
    depends_on:
      - backend-api
      - frontend

  frontend:
    build: ./frontend
    networks:
      - app-network
networks: # Déclaration des networks 
  app-network:

